@import '~admin-lte/dist/css/adminlte.css';
@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
a.dropdown-item:hover {
    color: var(--text-color) !important;
    background-color: var(--surface-b) !important;
}

a:hover {
    background-color: var(--surface-b) !important;
}

div.p-sidebar-active {
    padding: 0 !important;
    /* background-color: linear-gradient(var(--surface-a), var(--surface-e)); */
}

div.sidebar {
    background-color: var(--surface-d) !important;
    font-family: var(--font-padrao);
    color: var(--text-color);
}

.nav-item{
    border-top: solid 1px var(--text-color-secondary);
}