<p-panel [toggleable]="true" [collapsed]="false">
    <p-header>
        <div align="left" style="color: var(--primary-color);">
            <h6>
                <strong><i class="pi pi-info-circle"></i> Informações da Demanda #01</strong>
            </h6>
        </div>
    </p-header>

    <div class="form-row">
        <!-- Coluna 1 -->
        <div class="form-group col-md-6">

            <div class="form-row">
                <div class="form-group col-md-4">
                    <strong>Título:</strong>
                </div>
                <div class="form-group col-md-8">
                    Demanda de demostração
                </div>
                <div class="form-group col-md-4">
                    <strong>Data criação:</strong>
                </div>
                <div class="form-group col-md-8">
                    01/01/2021
                </div>
                <div class="form-group col-md-4">
                    <strong>Data prevista de atendimento:</strong>
                </div>
                <div class="form-group col-md-8">
                    01/04/2021
                </div>
                <div class="form-group col-md-4">
                    <strong>Data efetiva do atendimento:</strong>
                </div>
                <div class="form-group col-md-8">
                    -
                </div>
                <div class="form-group col-md-4">
                    <strong>Prazo:</strong>
                </div>
                <div class="form-group col-md-8">
                    90 dias
                </div>
                <div class="form-group col-md-4">
                    <strong>Criador:</strong>
                </div>
                <div class="form-group col-md-8">
                    Suleiman Moraes
                </div>
                <div class="form-group col-md-4">
                    <strong>Responsável atual:</strong>
                </div>
                <div class="form-group col-md-8">
                    Roberto Vinhote
                </div>
                <div class="form-group col-md-4">
                    <strong>Tipo:</strong>
                </div>
                <div class="form-group col-md-8">
                    Tipo 1
                </div>
                <div class="form-group col-md-4">
                    <strong>Solicitante:</strong>
                </div>
                <div class="form-group col-md-8">
                    Joaquim Neves
                </div>
            </div>

        </div>
        <!-- Coluna 2 -->
        <div class="form-group col-md-6">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <strong>Descrição:</strong>
                </div>
                <div class="form-group col-md-8">
                    Lorem ipsum tempor class leo inceptos vivamus malesuada pellentesque, blandit et accumsan conubia
                    sed
                    pulvinar sapien cubilia, bibendum vel porta facilisis libero curae quisque. nulla eu adipiscing
                    aliquet
                    imperdiet et scelerisque sociosqu morbi adipiscing, interdum tincidunt iaculis potenti etiam varius
                    egestas senectus, sem condimentum rhoncus vulputate fermentum ut himenaeos congue.
                </div>
                <div class="form-group col-md-4">
                    <strong>Urgência:</strong>
                </div>
                <div class="form-group col-md-8">
                    Média
                </div>
                <div class="form-group col-md-4">
                    <strong>Detalhes do atendimento:</strong>
                </div>
                <div class="form-group col-md-8">
                    Lorem ipsum sit amet pulvinar platea nibh integer dui, quis porttitor sapien donec aliquam vivamus
                    facilisis inceptos commodo, quisque vestibulum hac duis enim massa viverra.
                </div>
                <div class="form-group col-md-4">
                    <strong>Tipo da Solução:</strong>
                </div>
                <div class="form-group col-md-8">
                    Tipo 4
                </div>
                <div class="form-group col-md-4">
                    <strong>Pendências:</strong>
                </div>
                <div class="form-group col-md-8">
                    Lorem ipsum nostra commodo elit purus quis mollis nullam, fringilla sagittis aenean feugiat tellus
                    non nisi cras ut, fusce tristique ornare luctus rhoncus dapibus habitasse.
                </div>
                <div class="form-group col-md-4">
                    <strong>Situação:</strong>
                </div>
                <div class="form-group col-md-8">
                    <span class="p-tag p-tag-warning">Ativo</span>
                </div>
            </div>
        </div>
    </div>
</p-panel>